<a name='{{name}}'/>
<h1 class='w3-container w3-teal' ng-click='show=!show; scrollTo()'>&#9205; {{subject}}</h1>
<hr/>
<div style='font-size: 20px;' ng-show='show'>
	<div class="flip" ng-repeat='question in random' class='w3-container'> 
        <div class="card" ng-class="{'flipped':isFlipped1}" ng-click="isFlipped1=!isFlipped1"> 
            <div class="face front w3-teal w3-round-large w3-xlarge">
				<span>Rank: {{question.rank}} </span><br/>
                Question: {{question.question}}
				<p style='font-size: 11pt; color: gold;'>Click to Flip</p>
            </div> 
            <div class="face back w3-green w3-round-large w3-xlarge"> 
                Answer: {{question.answer}} 
				<p style='font-size: 11pt; color: gold;'>Click to Flip</p>
            </div>
        </div> 
		<div class='w3-container'>
			<label style='color: green'>Correct</label> <input class='w3-check' type='checkbox' ng-model='checked' ng-change=''/>
			<label style='color: teal; font-size: 9pt;'>Suggest Ranking:</label> <input type='number' min="1" max="3" ng-model='nrank' ng-change='Rank(question.id, nrank);' style='width: 40px; height: 25px;'/>
		</div>
	</div>
	<br/>
	<div class='w3-right'>
		<button class='w3-btn w3-green w3-small' ng-click='Easier( random[0].id )'>&lt;&lt; Easier</button>
		<button class='w3-btn w3-green w3-small' ng-click='Harder( random[0].id )'>Harder &gt;&gt;</button><br/>
	</div> 
	<div class='w3-left'>
		<button class='w3-btn w3-green' ng-class='score_css' ng-click='score()'>{{score_txt}}</button>
	</div>
	<div style='clear:both;'>&nbsp;</div>
</div>